/.idea
/Assignments/Aswin kumar - Team Lead/Assignment2/App/__pycache__
Assignments/Aswin kumar - Team Lead/Assignment4/dockerApp/__pycache__/app.cpython-310.pyc
Final Deliverables/FlaskApp/sendgrid.env
Final Deliverables/FlaskApp/sendgrid.env
